* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  height: 10000px;
}

.container {
  max-width: 140rem;
  padding: 1.5rem;
  margin: 0 auto;
}

/*COMPONENTS*/
.header {
  background: hsl(294, 54%, 27%);
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header .container {
  transition: 1s ease;
}
.header.white {
  background: transparent;
}
.header.white .container {
  background: blue;
  border-radius: 3rem;
  margin-top: 5rem;
  transition: 2s ease;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .branding {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .branding img {
  width: 4rem;
}
.header .branding h3 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}
.header .branding ul {
  display: none;
}
.header__nav {
  position: absolute;
  background: hsl(0, 0%, 100%);
  right: -100rem;
  top: 0rem;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
}
.header__nav img {
  padding: 2rem;
  width: 15rem;
}
.header__nav ul.nav {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 5rem;
}
.header__nav ul.nav li {
  padding: 2rem;
}
.header__nav ul.nav li a {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul.nav li a i {
  color: hsl(0, 0%, 0%);
}
.header__nav ul.nav li a i.open {
  transform: rotate(90deg);
  transition: 0.5s ease;
}
.header__nav ul.nav ul.drop {
  margin: 0 3rem;
  max-height: 0rem;
  overflow: hidden;
  transition: 0.5s ease;
}
.header__nav ul.nav ul.drop li a {
  font-size: 1.5rem;
}
.header__nav ul.nav ul.drop.open {
  max-height: 50rem;
  transition: 0.5s ease;
}
.header__nav__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  position: absolute;
  width: 100%;
  padding: 2rem;
  bottom: 3rem;
}
.header__nav.open {
  right: 0;
  transition: 0.5s ease;
}
.header__actions__btn {
  display: flex;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__actions a i {
  color: hsl(0, 0%, 100%);
}
.header__actions .toggle__menu {
  z-index: 999;
  display: block;
}
.header__actions .toggle__menu span {
  width: 3rem;
  height: 0.2rem;
  background-color: hsl(0, 0%, 100%);
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.header__actions .toggle__menu span:nth-child(2) {
  margin: 0.4rem 0;
}
.header__actions .toggle__menu.open span {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 0%);
}
.header__actions .toggle__menu.open span:first-child {
  transform: translateY(10px) rotate(45deg);
  transition: 0.5s ease;
}
.header__actions .toggle__menu.open span:nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.header__actions .toggle__menu.open span:last-child {
  transform: translateY(-2px) rotate(-45deg);
  transition: 0.5s ease;
}
.header__actions__btn {
  display: none;
}
@media screen and (min-width: 940px) {
  .header__nav {
    display: none;
  }
  .header .branding ul {
    display: flex;
    gap: 2rem;
    margin-left: 5rem;
  }
  .header .branding ul li {
    transition: 0.5s ease;
  }
  .header .branding ul li a {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .header .branding ul li a i {
    font-size: 1rem;
  }
  .header .branding ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  .header__actions .toggle__menu {
    display: none;
  }
  .header__actions__btn {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header__actions__btn a.sign {
    color: hsl(0, 0%, 100%);
  }
}

.btn {
  display: inline-block;
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  color: hsl(0, 0%, 0%);
  font-weight: 550;
  position: relative;
  border-radius: 1rem;
}
.btn.bg--primary {
  background: hsl(294, 54%, 27%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
}
.btn.bg--primary::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: -1;
  border-radius: 1rem;
}
.btn.bg--primary:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--primary:hover {
  color: hsl(294, 54%, 27%);
  z-index: 999;
  border: 1px solid hsl(294, 54%, 27%);
  transition: 0.5s ease;
}
.btn.bg--light {
  background: hsl(0, 0%, 100%);
  color: hsl(294, 54%, 27%);
  border: 1px solid hsl(294, 54%, 27%);
}
.btn.bg--light::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(294, 54%, 27%);
  transform: skewX(45degrees);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: -1;
  border-radius: 1rem;
}
.btn.bg--light:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--light:hover {
  color: hsl(0, 0%, 100%);
  z-index: 999;
  border: 1px solid hsl(0, 0%, 100%);
  transition: 0.5s ease;
}
.btn.bg--blue {
  background: #2997FF;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(294, 54%, 27%);
}
.btn.bg--blue::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(294, 54%, 27%);
  transform: skewX(45degrees);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: -1;
  border-radius: 1rem;
}
.btn.bg--blue:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--blue:hover {
  color: hsl(0, 0%, 100%);
  z-index: 999;
  border: 1px solid hsl(0, 0%, 100%);
  transition: 0.5s ease;
}

.banner {
  background: hsl(294, 54%, 27%);
  position: relative;
}
.banner__wrapper {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner__left h3 {
  display: none;
}
.banner__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banner__text h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 4rem;
  color: hsl(0, 0%, 100%);
}
.banner__text h1 span {
  color: #ffa700;
}
.banner__text h4 {
  font-size: 1.75rem;
  font-weight: unset;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 0;
  margin-bottom: 3rem;
}
.banner__btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}
.banner__btn a {
  padding: 1.5rem 14rem;
  border-radius: 1rem;
  text-align: center;
}
.banner__btn__google {
  border-radius: 1rem;
}
.banner__btn__google a {
  display: flex;
  border-radius: 1rem;
  text-align: center;
  gap: 6rem;
  padding: 0.5rem 0.5rem;
}
.banner__btn__google a .cover {
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
  background: hsl(0, 0%, 100%);
}
.banner__btn__google a .cover img {
  width: 2rem;
  background: hsl(0, 0%, 100%);
}
.banner__btn__google a p {
  color: hsl(0, 0%, 100%);
  margin-top: 0.9rem;
  margin-left: 5rem;
  vertical-align: middle;
  line-height: 2rem;
}
@media screen and (min-width: 940px) {
  .banner {
    padding-left: 2rem;
  }
  .banner__wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-content: center;
    padding-bottom: 6rem;
  }
  .banner__wrapper video {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 0;
  }
  .banner__left h3 {
    color: hsl(0, 0%, 100%);
    display: unset;
  }
  .banner__text h1 {
    text-align: left;
    font-size: 6rem;
    line-height: 7rem;
  }
  .banner__text h4 {
    text-align: left;
  }
  .banner__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .banner__btn a {
    padding: unset;
    padding: 20px 40px;
    font-size: 1.25rem;
  }
  .banner__btn__google {
    text-align: center;
  }
  .banner__btn__google a {
    font-size: 1.25rem;
    align-items: center;
    padding: 10px 20px;
    gap: 1rem;
  }
  .banner__btn__google a p {
    margin: unset;
    align-items: center;
    vertical-align: middle;
  }
}

.section {
  background: hsl(34, 42%, 93%);
}
.section__wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.section__items {
  padding: 3rem 0;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section__items__text h2 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}
.section__items__text p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.section__items__text a {
  color: #2997FF;
}
.section__items__text a i {
  margin-left: 1rem;
}
.section__items__vids:nth-child(even) video {
  max-width: 30rem;
  transform: translateX(-2rem);
}
.section__companies {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.section__companies h5 {
  font-size: 1.5rem;
}
.section__companies__images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}
.section__companies__images img:first-child {
  width: 11rem;
  height: 4rem;
}
.section__companies__images img:nth-child(2) {
  width: 6rem;
  height: 6rem;
}
.section__companies__images img:nth-child(3) {
  width: 6rem;
  height: 6rem;
}
.section__companies__images img:nth-child(4) {
  width: 24rem;
  height: 4rem;
}
.section__companies__images img:last-child {
  width: 8rem;
  height: 4rem;
}
@media screen and (min-width: 940px) {
  .section__wrapper {
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .section__companies {
    gap: 4rem;
    align-items: center;
  }
  .section__companies__images {
    gap: 5rem;
  }
}/*# sourceMappingURL=main.css.map */